:root {
  /* palette 1 */
  --P1couleur1: #27374d;
  --P1couleur2: #526d82;
  --P1couleur3: #9db2bf;
  --P1couleur4: #dde6ed;
  /* palette 2 */
  --P2couleur1: #f7fd04;
  --P2couleur2: #f9b208;
  --P2couleur3: #f98404;
  --P2couleur4: #fc5404;
}

@font-face {
  font-family: "Major Mono Display";
  src: url("/font");
}

body {
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow-y: scroll;
  width: 100vw;
  height: 250vh;
  font-family: "Major Mono Display";
}

::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: transparent;
}

header {
  background-color: var(--P1couleur1);
  width: 100vw;
  height: 100vh;
  box-shadow: 0px -31px 30px 0px rgba(0, 0, 0, 0.4) inset;
}

header .title {
  display: flex;
  width: 13vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: var(--P1couleur4);
  text-align: center;
  font-size: 9vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
}

.picture {
  width: 71%;
  height: 100%;
  flex-shrink: 0;
  background-image: url("/img");
  background-position: 50% -80vh;
  background-repeat: no-repeat;
  background-size: 154vh;
  position: absolute;
  top: 0%;
  left: 7%;
  filter: grayscale(100%);
  transition: 0.5s;
}

.BtnDiscover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 9%;
  left: 64%;
}

.BtnDiscover p {
  color: var(--P1couleur4);
  text-align: center;
  font-size: 2.4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

#BtnDiscover {
  width: 11vw;
  height: 11vw;
  flex-shrink: 0;
  background-image: url("/svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  color: var(--P2couleur1);
  font-size: 1.69vw;
  font-style: normal;
  font-weight: 400;
  line-height: 8vh;
  letter-spacing: -0.25vw;
  text-align: right;
  position: absolute;
  right: 1%;
  top: 52%;
}

.scrollingText {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 6.5vw;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: var(--P1couleur2);
  backdrop-filter: blur(20px);
}

.text {
  text-align: center;
  font-size: 5vw;
  font-style: normal;
  font-weight: 1;
  line-height: normal;
  animation: scrollingText 5s linear infinite;
  color: transparent;
  white-space: nowrap;
  padding-left: 1.5%;
  padding-right: 1.5%;
  transform: translate(-100%);
}

.scrollingText span:nth-child(1) {
  -webkit-text-stroke: 0.3vw var(--P2couleur3);
}

.scrollingText span:nth-child(2) {
  -webkit-text-stroke: 0.3vw var(--P1couleur4);
}

.scrollingText span:nth-child(3) {
  -webkit-text-stroke: 0.3vw var(--P2couleur3);
}

@keyframes scrollingText {
  100% {
    transform: translate(100%);
  }
}

main { 
  display: flex;
  flex-direction: row;
  background-color: var(--P1couleur1);
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  margin: 0px;
}

main h1 {
  color: var(--P2couleur4);
  font-size: 4vw;
}

main .title {
  color: var(--P2couleur2);
  font-size: 2vw;
  visibility: visible;
}

main p {
  color: var(--P1couleur4);
  text-transform: lowercase;
  font-size: 1vw;
}

.formation {
  margin-right: 5vw;
  width: 47.5vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.competence {
  width: 47.5vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.formation p {
  text-align: right;
}

.formation .title {
  text-align: right;
}

.competence p {
  text-align: left;
}

.competence .title {
  text-align: left;
}

.list {
  color: var(--P1couleur4);
  text-transform: lowercase;
  font-size: 1vw;
}

.ligne {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 150%;
  left: 50%;
  height: 90%;
  width: 1px;
  background-color: var(--P2couleur1);
}

footer {
  margin: 0px;
  background-color: var(--P1couleur1);
  height: 50vh;
  width: 100vw;
  display: flex;
  box-shadow: 0px 31px 30px 0px rgba(0, 0, 0, 0.4) inset;
}

footer p {
  color: var(--P1couleur4);
  text-transform: lowercase;
  font-size: 1vw;
  line-height : 10vh;
}

.github {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  position: absolute;
  top: 220vh;
  left: 40vw;
}

.github  a  {
  color: var(--P2couleur1);
  text-transform: lowercase;
  font-size: 1vw;
}

.phone {
  height: 0px;
  width: 0px;
  visibility: hidden;
  font-size: 0px;
}

@media screen and (max-width: 1024px) {
  .phone {
    height: 100vh;
    width: 100vw;
    background-color: var(--P1couleur1);
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--P1couleur4);
    text-transform: lowercase;
    font-size: 3vw;
    text-align: center;
    line-height : 10vh;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}